
#LAZ_Widget {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, Geneva, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#LAZ_Widget * {
  box-sizing: border-box;
}
